[Desktop Entry]
Name=Midas GUI
GenericName=Midas-GUI
Comment=Midas GUI
Exec=midas-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmidas.Midas
StartupNotify=true
